*{
  padding: 0;
  margin: 0;
  font-family: "nunito";
  font-style: normal;
}
body{
  background-color: rgb(250, 249, 249);
  padding: 0;
  margin: 0;
}
.navbar{
display: flex;
justify-content: flex-end;
}

nav >.navbar> ul>li{
  margin: 5px;
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-right: 50px;
}
#Login{
  color: black;
  background-color: yellow;
  border: none;
  padding: 5px;
 font-size: 20px;
}
#Login1{
  color: yellow;
  background-color: black;
  border: none;
  padding: 5px;
  font-size: 20px;
}

#backimg{
  background-image: url(../Assets/Images/moving\ 1.png);
  background-size: cover;
    background-position: center;
  height: 105vh;
}
#scheader{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}
.header{
  position: relative;
  top: 90px;
}
#scheader>.header> h3{
    font-size: 60px;
    color: yellow;
    font-weight: 300;
    justify-content: left;
    font-family: "Poppins",  "Actor", "Adamina";
    padding-left: 90px;
}
#scheader>.header> p{
    color: white;
    font-size: 35px;
    padding-left: 90px;
}
#cut{

  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
}
#cut >.hustle{
  display: flex;
  padding: 20px;
  margin: 20px;
  flex-direction: row;
  align-items: center;
}

#cut >.hustle >.leftimg, .righttxt{
  width: 50%;
  padding: 20px;
  justify-content:space-between;
}

#cut >.hustle >.leftimg > img{

width: 550px;
display: flex;
justify-content: center;
padding-top: 10px;
}
#cut >.hustle >.righttxt{
width: 500px;
 margin-left:20px;
 
}
#cut >.hustle >.righttxt>h2{
border: 10px solid;
border-image-slice: 1;
border-width: 6px;
border-image-source: linear-gradient(to left, #111109, #FFAC12);
padding: 15px;
font-size: 48px;
border-bottom: none;
border-right: none;
border-left: none;
font-weight: none;
margin-bottom: 20px;

}
#cut >.hustle >.righttxt>p{
font-size: 20px;
color: rgb(167, 161, 161);
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 20px;
}

#cut >.hustle >.righttxt >.learnmore{
align-items: flex-end;
background-color: black;
color:#FAFF00;
padding: 20px; 
font-size: 25px;  
border-top-right-radius: 15px;
position:relative;
margin-top: 90px;
}
#cut >.hustle >.righttxt >.learnmore >i{
color: #FAFF00;
}
.top{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
 background-size: cover;

}
.top >h2{
  height: 150px;
  position: relative;
  left: 250px;
  font-size: 50px;
font-weight: 100;
}

.top >.movers> h2{
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.movers{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}

.gridmovers >img{
  width: 250px;
  justify-content: center;
}
.top >.gridmovers>h3{
  border-radius: 20px;
  height:500px;
  background-color: white;
  padding: 20px;
  border-bottom: solid 3px rgb(185, 181, 181);
  margin: 20px;
}