*{
    padding: 0;
    margin: 0;
    font-family: "nunito";
    font-style: normal;
  }
  body{
    background-color: white;
    padding: 0;
    margin: 0;
  }
nav >.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

  nav >.navbar> ul>li{
      margin: 5px;
      color: white;
      display: inline-block;
      padding: 10px;
      font-size: large;
      display: start end;
  }

#Login{
      color: black;
      background-color: yellow;
  }
  #Login1{
      color: yellow;
      background-color: black;
  }
  body >#backimg >.navbar > ul> li{
    display: flex;
}

  .login{
    padding: 10px;
    font-weight: 400;
    background-color: #EC4067;
    color:white;
    border: #EC4067;
  }
  .login1{
    padding: 10px;
    font-weight: 400;
    background-color: #EC4067;
    color:white;
    border: #EC4067;
  }

  #backimg{
    background-image: url(../Assets/Images/moving\ 1.png);
    background-size: cover;
      background-position: center;
    height: 95vh;
  }
  #scheader{
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: left;
  }
  #scheader>.header> h3{
      font-size: 60px;
      color: yellow;
      font-weight: 300;
      justify-content: left;
      font-family: "Poppins",  "Actor", "Adamina";
      padding-left: 90px;
  }
  #scheader>.header> p{
      color: white;
      font-size: 35px;
      padding-left: 90px;
  }
#cut{
    margin-top: 30px;
    margin-bottom: 30px;
}
#cut >.hustle{
    display: flex;
    padding: 20px;
    margin: 20px;
}
#cut >.hustle >.leftimg, .righttxt{
    width: 50%;
    padding: 20px;
}
#cut >.hustle >.leftimg{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 20px;
}
#cut >.hustle >.righttxt{
    padding-right: 30px;
}
#cut >.hustle >.righttxt >.learnmore{
    background-color: black;
    padding: 5px;
    color: yellow;
}
  /*  2nd page*/
.modern1{
    background-color: black;
    height: 160px;
}
.navbar1{
  display: flex;
 
}
.navbar1 >.modern1, .navlink1{
  margin: 5px;
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: large;
  display: start end;
}
.linkhere{
  color: black;
}





  